<div class="msg">
    <% if(locals.message.success) { %>
        <div class="alert-success">
            <%= message.success %>
        </div>
        <% } %>
</div>


<% if(posts.length> 0) { %>
    <% posts.forEach(post=> { %>

        <div class="border_hor">
            <div class="row">
                <div class="col-md-8">
                    <div class="first_user_ch">
                        <span>
                            <%= post.userName.charAt(0).toUpperCase() %>
                        </span>
                    </div>
                    <h5>
                        <%= post.userName %>
                    </h5>
                    <p>
                        <%= formate(post.updatedAt, "d,mmmm,yyyy" ) %>
                    </p>

                    <h4 class="mt-3"><b>
                            <a class="title_link" href="/details/<%= post._id %> ">
                                <%= post.title.slice(0,30) %>.....
                            </a>
                        </b></h4>
                    <p>
                        <%= post.body.slice(0,280) %>....
                    </p>
                </div>

                <div class="col-md-4">
                    <img class="body_img" src="/assests/img/<%= post.image %>" alt="">
                </div>
            </div>
        </div>
        <% }) %>
            <% } else { %>
                <p>No post in the database</p>
                <% } %>

                    <% let totalPages=Math.ceil(count/perPage); let startLoop=currentPage ; let diff=totalPages -
                        currentPage; if(diff <=4){ startLoop=totalPages - 4 ; } let endLoop=parseInt(startLoop) + 4; if
                        (startLoop <=0) { startLoop=1; } %>

                        <% if (count> 4 && posts.length !== 0) {%>
                            <div class="pagination text-center">
                                <ul>
                                    <% if(currentPage> 1 ) {%>
                                        <li><a href='/post/<%= currentPage - 1 %> '>Prev</a></li>
                                        <% } %>
                                            <% for(let i=startLoop; i <=endLoop; i++ ) { let active=i==currentPage
                                                ? 'active' : '' %>
                                                <li><a href="/post/<%= i %>" class="<%= active %>">
                                                        <%= i %>
                                                    </a></li>
                                                <% } %>

                                                    <% if(currentPage < totalPages) {%>
                                                        <li><a href='/post/<%= parseInt(currentPage) + 1 %>'>Next</a>
                                                        </li>
                                                        <% } %>
                                </ul>
                            </div>
                            <% } %>